{% extends "base.html" %}

{% block title %}Produtos{% endblock %}

{% block header %}
Produtos
{% endblock %}

{% block content %}

<div class="card">

    <div style="display:flex;justify-content:space-between;align-items:center;margin-bottom:20px;">
        <strong>Lista de Produtos</strong>

        <a href="{{ url_for('novo_produto') }}" style="
            background:#020617;
            color:#fff;
            text-decoration:none;
            padding:10px 14px;
            border-radius:8px;
            font-size:14px;
        ">
            + Novo Produto
        </a>
    </div>

    {% if produtos %}
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Custo</th>
                <th>Venda</th>
                <th>Lucro Unit.</th>
                <th>Qtd</th>
                <th>Lucro Estoque</th>
            </tr>
        </thead>
        <tbody>
            {% for p in produtos %}
            {% set lucro_unit = p.preco_venda - p.preco_custo %}
            {% set lucro_total = lucro_unit * p.quantidade %}

            <tr>
                <!-- FOTO -->
                <td style="text-align:center;">
                    {% if p.imagem %}
                        <a href="{{ url_for('static', filename='uploads/' ~ p.imagem) }}" target="_blank">
                            <img src="{{ url_for('static', filename='uploads/' ~ p.imagem) }}"
                                style="width:50px;height:50px;object-fit:cover;border-radius:8px;">
                        </a>
                    {% else %}
                        —
                    {% endif %}
                </td>

                <td>{{ p.codigo }}</td>
                <td>{{ p.nome }}</td>

                <td>R$ {{ "%.2f"|format(p.preco_custo) }}</td>
                <td><strong>R$ {{ "%.2f"|format(p.preco_venda) }}</strong></td>

                <td style="color:green;">
                    R$ {{ "%.2f"|format(lucro_unit) }}
                </td>

                <td>{{ p.quantidade }}</td>

                <td style="color:#0a7;">
                    R$ {{ "%.2f"|format(lucro_total) }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    {% else %}
        <p>Nenhum produto cadastrado.</p>
    {% endif %}

</div>

{% endblock %}
