{% extends "base.html" %}

{% block title %}Produtos{% endblock %}
{% block header %}Produtos{% endblock %}

{% block content %}

<div class="card">

    <!-- TOPO DO CARD -->
    <div class="topo-card">
        <strong>Lista de Produtos</strong>

        <a href="{{ url_for('novo_produto') }}" class="btn-primary">
            + Novo Produto
        </a>
    </div>

    {% if produtos %}

    <table class="tabela-vendas">
        <thead>
            <tr>
                <th>Foto</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Custo</th>
                <th>Venda</th>
                <th>Lucro Unit.</th>
                <th>Qtd</th>
                <th>Lucro Estoque</th>
            </tr>
        </thead>

        <tbody>
            {% for p in produtos %}
                {% set lucro_unit = p.preco_venda - p.preco_custo %}
                {% set lucro_total = lucro_unit * p.quantidade %}

                <tr>
                    <!-- FOTO -->
                    <td class="foto-produto">
                        {% if p.imagem %}
                            <a href="{{ url_for('static', filename='uploads/' ~ p.imagem) }}" target="_blank">
                                <img src="{{ url_for('static', filename='uploads/' ~ p.imagem) }}">
                            </a>
                        {% else %}
                            —
                        {% endif %}
                    </td>

                    <td>{{ p.codigo }}</td>
                    <td>{{ p.nome }}</td>

                    <td>R$ {{ "%.2f"|format(p.preco_custo) }}</td>

                    <td>
                        <strong>R$ {{ "%.2f"|format(p.preco_venda) }}</strong>
                    </td>

                    <td>
                        <span class="lucro-badge verde">
                            R$ {{ "%.2f"|format(lucro_unit) }}
                        </span>
                    </td>

                    <td>{{ p.quantidade }}</td>

                    <td>
                        <span class="lucro-badge azul">
                            R$ {{ "%.2f"|format(lucro_total) }}
                        </span>
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p style="margin-top:10px;">Nenhum produto cadastrado.</p>
    {% endif %}

</div>

{% endblock %}
